.important {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    float: left;
    padding: 10;
    text-align: justify;
    text-decoration-color: blue;
}

.nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 40px;
    flex-direction: row;
    float: initial;
}

.img {
    padding: 3px;
    max-width: 100px;
    height: 100px;
    margin: 40px;
}

img.left {
    float: left;
}

.paragraph {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 10;
    margin: 30px;
    font-size: 20px;
}

h1 {
    font-size: 100px;
    box-sizing: 100px;
    font-family: fantasy;
    padding-left: 10;
    float: center;
    color: lawngreen;
    float: left;
}

h2 {
    color: tomato;
    font-size: 2000;
}

.important {
    font-size: xx-large;
    font-family: fantasy;
    font-style: normal;
    background-color: brown;
    text-overflow: ellipsis;
}

.content1 {
    display: flex;
}

.video {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.about1 {
    font-size: 30px;
    font-family: fantasy;
    color: cadetblue;
    background: coral;
}

h3 {
    font-size: 20px;
    font-family: sans-serif;
    padding: auto;
}